footer {
  position: relative;
  margin-top: 80px;
  overflow: hidden;
  font-size: 12px;
  .container {
    position: relative;
    border-top: 1px solid $border;
  }
  .socials {
    position: absolute;
    right: 0; top: 0;
    @include media-breakpoint-down(sm) {
      position: relative;
      display: flex;
      justify-content: center;
      padding: 32px 0;
      border-bottom: 1px solid $border;
    }
  }
  .social {
    margin-top: 24px;
    @include media-breakpoint-down(sm) {
      margin: 0 22px;
    }
  }

  .footer {
    &__logo {
      position: relative;
      z-index: 1;
      text-align: center;
      margin-bottom: 32px;
      @include media-breakpoint-down(xl) {margin-bottom: 24px;}
      @include media-breakpoint-down(md) {
        width: 145px; height: 80px;
        margin: 0 auto;
        margin-bottom: 32px;
        img {width: 100%; height: 100%; object-fit: cover; font-family: 'object-fit: cover;'}
      }
    }
    &__bg {
      position: absolute;
      right: 0; bottom: -5px;
      img {width: 100%;}
      @include media-breakpoint-down(lg) {bottom: 100px;}
      @include media-breakpoint-down(md) {
        width: 65%;
        bottom: 145px;
      }
      @include media-breakpoint-down(xs) {
        width: 100%;
        bottom: 512px;
      }
    }
    &__main {
      width: 55%;
      @include media-breakpoint-down(md) {width: 524px;}
      @include media-breakpoint-down(sm) {width: 100%;}
    }
    &__menu,
    &__contacts {
      padding: 32px 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      border-bottom: 1px solid $border;
    }
    &__menu {
      padding-bottom: 8px;
      @include media-breakpoint-down(xl) {padding-top: 24px;}
      @include media-breakpoint-down(md) {
        padding: 32px 0 0;
      }
      &-item {
        width: calc(33% - 21px);
        margin-bottom: 24px;
        @include media-breakpoint-down(md) {margin-bottom: 32px;}
        @include media-breakpoint-down(xs) {width: 50%;}
      }
      a {
        width: 100%;
        display: block;
        font-size: 14px;
        line-height: 1.29;
        color: #b1b1b1;
        margin-bottom: 6px;
        @include media-breakpoint-down(xl) {font-size: 12px; margin-bottom: 4px;}
        @include media-breakpoint-down(md) {margin-bottom: 12px;}
        @include media-breakpoint-down(xs) {font-size: 12px; line-height: 1.5;}
        &.title-link {color: $greyish-brown;}
        &:hover {
          color: $gold;
        }
      }
    }
    &__contacts {
      &-item {
        width: calc(33% - 21px);
        font-size: 12px;
        line-height: 1.5;
        @include media-breakpoint-down(xs) {
          width: 50%;
          &:not(:last-child){margin-bottom: 32px;}
        }
      }
      .title {
        color: $greyish-brown;
        text-transform: uppercase;
        margin-bottom: 6px;
        @include media-breakpoint-down(xl) {margin-bottom: 4px;}
        @include media-breakpoint-down(md) {margin-bottom: 12px;}
      }
      .tel {
        display: block;
        color: #b1b1b1;
        margin-bottom: 6px;
        @include media-breakpoint-down(xl) {margin-bottom: 4px;}
        @include media-breakpoint-down(md) {margin-bottom: 12px;}
        &:hover {text-decoration: underline;}
      }
      .mail {
        display: block;
        color: $gold;
        &:hover {text-decoration: underline;}
      }
    }
    &__subscribe {
      padding: 40px 0 72px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      @include media-breakpoint-down(xl) {padding-bottom: 48px;}
      @include media-breakpoint-down(xs) {height: 220px; padding: 35px 0;}
      .title {
        width: 100%;
        font-size: 16px;
        font-weight: 600;
        line-height: 1.5;
        text-transform: uppercase;
        color: #666666;
        margin-bottom: 24px;
        @include media-breakpoint-down(xl) {
          font-size: 12px;
          line-height: 1.67;
          letter-spacing: 0.7px;
          margin-bottom: 16px;
        }
        @include media-breakpoint-down(xs) {
          text-align: center;
          margin-bottom: 8px;
        }
      }
      input {
        flex: 1 1 0;
        margin-right: 32px;
        @include media-breakpoint-down(xl) {
          margin-right: 16px;
          height: 40px;
        }
        @include media-breakpoint-down(xs) {
          width: 100%;
          margin-bottom: 24px;
          margin-right: 0;
          flex: auto;
        }
      }
      .btn {
        width: 292px; height: 48px;
        @include media-breakpoint-down(xl) {
          width: 206px; height: 40px;
        }
        @include media-breakpoint-down(xs) {margin: 0 auto;}
      }
    }
    &__bottom {
      display: flex;
      justify-content: space-between;
      padding: 32px 0 56px;
      color: $gold;
      a {color: $gold;}
      border-top: 1px solid $border;
      @include media-breakpoint-down(xl) {
        padding: 20px 0 40px;
      }
      @include media-breakpoint-down(md) {
        padding: 24px 0 80px;
        height: 150px;
      }
      @include media-breakpoint-down(xs) {
        font-size: 12px; line-height: 1.5;
        flex-wrap: wrap;
        text-align: center;
        height: 200px;
      }
      .site-by {
        white-space: nowrap;
        @include media-breakpoint-down(xs) {margin: 0 auto; margin-top: 32px;}
      }
    }
  }
}