header {
  position: absolute;
  z-index: 1000;
  top: 0; left: 0;
  width: 100%;
  color: #fff;
  height: 120px;
  @include media-breakpoint-down(xl) {height: 100px;}
  @include media-breakpoint-down(lg) {height: 125px;}
  @include media-breakpoint-down(md) {height: 135px;}
  @include media-breakpoint-down(sm) {height: 98px;}
}
.h {
  &-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;
  }
  &-logo {
    position: absolute;
    z-index: 101;
    left: 0; top: 25px;
    width: 206px; height: 70px;
    mask: url(../img/logo-crown-white.svg) center no-repeat;
    mask-size: contain;
    background: #fff;
    transition: background .3s .2s;
    &.active {
      background: $gold;
      transition: background .1s;
    }
    @include media-breakpoint-down(xl) {top: 15px;}
    @include media-breakpoint-down(lg) {top: 22px;}
    @include media-breakpoint-down(md) {top: 30px;}
    @include media-breakpoint-down(sm) {
      width: 50px; height: 52px !important;
      top: 24px; left: 16px;
    }
  }
  &-menu {
    position: relative;
    z-index: 1;
    @include media-breakpoint-down(lg) {display: none;}
    &__list {
      display: flex;
      justify-content: center;
    }
    &__item {
      display: flex;
      align-items: center;
    }
    &__link {
      color: #fff !important;
      margin: 0 16px;
      text-transform: uppercase;
      font-size: 16px;
      font-weight: 600;
      line-height: 1.5;
      letter-spacing: 1px;
      @include media-breakpoint-down(xl) {
        font-size: 12px;
        font-weight: 600;
        line-height: 1.67;
        letter-spacing: 0.7px;
        margin: 0 12px;
      }
      @media (max-width: 1280px) {margin: 0 10px;}
      .dropdown-menu {width: 230px;}
    }
  }
  &-helpers {
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    @include media-breakpoint-down(lg) {display: none;}
  }
  &-search {
    width: 25px; height: 25px;
    mask: url(../img/icons/search-white.svg) center no-repeat;
    mask-size: contain;
    background: #fff;
    cursor: pointer;
    margin-right: 42px;
    @include media-breakpoint-down(xl) {
      width: 18px; height: 18px;
      margin-right: 30px;
    }
  }
  &-lang {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: 1px;
    user-select: none;
    @include media-breakpoint-down(xl) {
      font-size: 12px;
      font-weight: 600;
      line-height: 1.67;
      letter-spacing: 0.7px;
    }
    .dropdown-menu {width: 100px;}
  }
  &-dropdown {
    display: flex;
    align-items: center;
    cursor: pointer;
    &:after {
      content: '';
      width: 14px; height: 9px;
      mask: url(../img/icons/chevron-white.svg) center no-repeat;
      mask-size: contain;
      background: #fff;
      margin-left: 16px;
      transition: .25s ease;
      @include media-breakpoint-down(xl) 
      {margin-left: 8px;
        width: 11px;
      }
    }
    &.active:after {
      transform: rotate(180deg);
    }
    position: relative;
    .dropdown-menu {
      cursor: default;
      position: absolute;
      left: -20px; top: 30px;
      display: none;
      background: #fff;
      padding: 10px 20px;
      box-shadow: $shadow;
      border-radius: 5px;
      &__link {
        width: 100%;
        color: $gold;
        opacity: 0.6;
        padding: 5px 0;
        display: inline-block;
        &:hover,
        &.active {opacity: 1;}
      }
    }
  }
}

header.gold {
  position: relative;
  color: $gold;
  .h {
    &-logo {
      background: $gold;
    }
    &-menu__link {color: $gold !important;}
    &-dropdown:after {background: $gold;}
    &-search {background: $gold;}
    &-lang {color: $gold;}
  }
  .hamburger-inner,
  .hamburger-inner:before,
  .hamburger-inner:after {
    background-color: $gold;
  }
}

.hamburger {
  position: absolute;
  z-index: 101;
  right: 0; top: 25px;
  padding: 15px;
  cursor: pointer;
  display: none;
  @include media-breakpoint-down(lg) {display: block;}
  @include media-breakpoint-down(md) {top: 30px;}
  @include media-breakpoint-down(sm) {top: 25px;}
  &-box {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 40px;
    @include media-breakpoint-down(sm) {
      width: 40px; height: 24px;
    }
  }
  &-inner,
  &-inner:before,
  &-inner:after {
    display: block;
    position: absolute;
    width: 60px; height: 2px;
    border-radius: 4px;
    background-color: #fff;
    @include media-breakpoint-down(sm) {width: 40px;}
  }
  &-inner {
    top: 50%;
    margin-top: -1px;
    transition: background-color  .3s .2s, .3s cubic-bezier(.55,.055,.675,.19);
    &:before {
      content: '';
      top: -18px;
      transition: background-color  .3s .2s, top .1s ease-in .25s, opacity .1s ease-in;
      @include media-breakpoint-down(sm) {top: -10px;}
    }
    &:after {
      width: 40px;
      content: '';
      bottom: -18px; right: 0;
      transition: background-color .3s .2s, width .3s ease-out, bottom .1s ease-in .25s,transform .3s cubic-bezier(.55,.055,.675,.19);
      @include media-breakpoint-down(sm) {width: 27px; bottom: -10px;}
    }
  }
  &.active {  
    .hamburger-inner,
    .hamburger-inner:before,
    .hamburger-inner:after {
      background-color: $gold;
    }
    .hamburger-inner {
      transition: background-color .1s, transform .3s .17s cubic-bezier(.215,.61,.355,1);
      transform: rotate(225deg);
      &:before {
        top: 0; opacity: 0;
        transition: background-color .1s, top .1s ease-out, opacity .1s ease-out .17s;
      }
      &:after {
        bottom: 0; width: 60px;
        transition: background-color .1s, width .1s ease-out, bottom .1s ease-out, transform .3s cubic-bezier(.215,.61,.355,1) .17s;
        transform: rotate(-90deg);
        @include media-breakpoint-down(sm) {width: 40px;}
      }
    }
  }
}

.m {
  &-panel {
    width: 100%; height: 100vh;
    background: #fff;
    position: absolute;
    top: 0; left: 0;
    z-index: 100;
    display: none;
    box-shadow: $shadow;
  }
  &-container {
    height: 100%;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    @include media-breakpoint-down(sm) {padding: 0 8px;}
  }
  &-statue {
    position: absolute;
    right: 0; top: 112px;
    max-width: 100%;
    @include media-breakpoint-down(lg) {top: 154px;}
    @include media-breakpoint-down(md) {top: 138px;}
    @include media-breakpoint-down(xs) {top: 147px;}
    @media (max-width: 400px) {top: 186px;}
    @media (max-width: 350px) {top: auto; bottom: 0;}
  }
  &-search {
    width: 43px; height: 43px;
    position: absolute;
    top: 39px; right: 120px;
    background: url(../img/icons/search-gold-big.svg) center no-repeat;
    background-size: contain;
    @include media-breakpoint-down(md) {top: 44px;}
    @include media-breakpoint-down(sm) {
      width: 33px; height: 33px; 
      right: 74px; top: 36px;
    }
  }
  &-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    overflow: auto;
    margin-top: 160px;
    @include media-breakpoint-down(sm) {
      margin-top: 100px;
      padding-top: 54px;
      border-top: 1px solid $border;
    }
  }
  &-menu {
    &__list {
      padding-left: 60px;
      @include media-breakpoint-down(sm) {
        padding-left: 46px;
        padding-top: 16px;
      }
    }
    &__item {
      display: block;
      margin-top: 24px;
      @include media-breakpoint-down(sm) {margin-top: 16px;}
    }
    &__link {
      font-size: 24px;
      line-height: 1.25;
      letter-spacing: 1.5px;
      color: $gold !important;
      @include media-breakpoint-down(sm) {
        font-size: 18px;
        line-height: 1.22;
        letter-spacing: 1.3px;
      }
    }
  }
  &-dropdown {
    &__title {
      position: relative;
      &:after {
        content: '';
        display: block;
        position: absolute;
        right: -30px; top: 9px;
        width: 10px; height: 14px;
        background: url(../img/icons/chevron-gold.svg) center no-repeat;
        transition: .25s ease;
        @include media-breakpoint-down(sm) {
          width: 7px; height: 12px;
          background-size: contain;
          top: 7px;
        }
      }
    }
    &.active .m-dropdown__title:after {
      transform: rotate(90deg);
    }
    &__menu {
      padding-left: 40px;
      display: none;
    }
  }
  &-btn {
    width: 224px; height: 40px;
    margin: 30px auto;
    @include media-breakpoint-down(sm) {
      margin: 32px auto 40px;
    }
  }

  &-footer {
    padding-bottom: 48px;
    &__top {
      height: 70px;
      padding: 0 60px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-top: 1px solid $border;
      border-bottom: 1px solid $border;
      @include media-breakpoint-down(sm) {padding: 0;}
    }
    .langs {
      display: flex;
      &__item {
        font-size: 17px;
        font-weight: 600;
        line-height: 1.29;
        letter-spacing: 0.8px;
        color: $gold;
        opacity: 0.5;
        margin-right: 20px;
        &:hover,
        &.active {opacity: 1;}
        @include media-breakpoint-down(sm) {margin: 0 20px;}
      }
      @include media-breakpoint-down(sm) {
        position: absolute;
        top: 0; left: 0;
        width: 100%;
        height: 54px;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid $border;
      }
    }
    .socials {
      display: flex;
      @include media-breakpoint-down(sm) {width: 100%; justify-content: center;}
      .social {
        width: 32px; height: 32px;
        margin-left: 32px;
        @include media-breakpoint-down(sm) {margin: 0 24px;}
      }
    }
    &__contacts {
      padding: 32px 0;
      display: flex;
      flex-wrap: wrap;
      &-item {
        width: 164px;
        font-size: 12px;
        line-height: 1.5;
        @include media-breakpoint-down(sm) {
          width: 50%; 
          &:not(:last-child){margin-bottom: 32px;}
        }
      }
      .title {
        color: $greyish-brown;
        text-transform: uppercase;
        margin-bottom: 6px;
        @include media-breakpoint-down(xl) {margin-bottom: 4px;}
        @include media-breakpoint-down(md) {margin-bottom: 12px;}
      }
      .tel {
        display: block;
        color: #b1b1b1;
        margin-bottom: 6px;
        @include media-breakpoint-down(xl) {margin-bottom: 4px;}
        @include media-breakpoint-down(md) {margin-bottom: 12px;}
        &:hover {text-decoration: underline;}
      }
      .mail {
        display: block;
        color: $gold;
        &:hover {text-decoration: underline;}
      }
    }
    &__sponsors {
      padding: 24px 0;
      border-bottom: 1px solid $border;
      .sponsor {
        width: 136px; height: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 12px;
      }
      display: none;
      @include media-breakpoint-down(sm) {display: block;}
    }
  }
}

.search {
  &-block {
    height: 96px;
    @include media-breakpoint-down(lg) {width: 100%;}
    @include media-breakpoint-down(xs) {height: 54px;}
    position: relative;
  }
  &-input {
    border-left: 0;
    border-right: 0;
    width: 100%;
    height: 100%;
    padding: 32px 115px 32px 74px;
    font-size: 28px;
    line-height: 1.14;
    letter-spacing: 1.5px;
    color: $gold;
    &::placeholder {color: $gold;}
    @include media-breakpoint-down(xs) {
      padding: 16px 50px 16px 6px;
      font-size: 18px;
      line-height: 1.22;
      letter-spacing: 1.3px;
    }
  }
  &-btn {
    position: absolute;
    top: 32px; right: 74px;
    cursor: pointer;
    width: 32px; height: 32px;
    background: url(../img/icons/search-gold-big.svg) center no-repeat;
    background-size: contain;
    @include media-breakpoint-down(xs) {
      top: 15px; right: 14px;
      width: 24px; height: 24px;
    }
  }
}