$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px, xxl: 1920px);

// Fonts
$font: "OpenSans", sans-serif;

// Colors
$white: #f7f7f7;
$black: #626262;
$blue: rgb(60, 200, 235);
$border: #ebdac9;

// Shadows
$shadow: 0 10px 20px rgba(0, 0, 0, 0.1);